.weather {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.2em;
  margin: 20px 0px;
  color: white;
  width: 200px;
  height: 100px;
  background-color: #ed6753;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 0px #fae102;
  opacity: 0.7;
}

.weather:hover {
  opacity: 0.95;
  transform: scale(0.98) translateY(2px);
}
